{% assign dirs = page.path | split: '/' %}

{% if dirs.size > 1 %}
<ol class="breadcrumb">
  <li><a href="{% if site.baseurl == '' %}/{% else %}{{ site.baseurl }}{% endif %}">HOME</a></li>
{% unless dirs.last == 'index.md' %}
  {% assign path = dirs[0] %}
  {% for dir in dirs %}
  {% unless forloop.last %}
    {% assign finder_path = path | append: '/index.md' %}
    {% for p in site.pages %}
      {% if p.path contains finder_path %}
        <li><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
      {% endif %}
    {% endfor %}
    {% assign path = path | append: '/' | append: dir %}
  {% endunless %}
  {% endfor %}
{% endunless %}
  <li class="active">{{ page.title }}</li>
</ol>
{% endif %}
