{% assign dirs = page.path | split: '/' %}

{% if dirs.size > 2 and dirs.last != 'index.md' %}
  {% assign path = dirs[1] %}
  <nav>
  {% for dir in dirs %}{% unless forloop.last %}
    {% assign finder_path = path | append: '/index.md' %}
    {% for p in site.pages %}{% if p.path contains finder_path %}
      <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
    {% endif %}{% endfor %}
    {% assign path = path | append: '/' | append: dir %}
  {% endunless %}{% endfor %}
  </nav>
{% endif %}
