---
---

@import url(http://fonts.googleapis.com/css?family=Roboto:300,500,700,300italic,500italic,700italic);

@mixin border-radius($radius) {
  -moz-border-radius: #{$radius};
  -webkit-border-radius: #{$radius};
  border-radius: #{$radius};
}

body {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
  font-weight: 300;
  color: #555;
  line-height: 1.5em;
}

h1, h2, h3, h4 {
  font-weight: 700 !important;
}

.container-fluid {
  max-width: 980px;
}

#toc {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      line-height: 2em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.level-h2 {
        font-size: 14px;
      }

      &.level-h3 {
        font-size: 13px;
        padding-left: 1em;
      }

      &.level-h4 {
        font-size: 11px;
        padding-left: 2.2em;
      }
    }
  }
}

.main {
  box-sizing: border-box;

  .page-header {
    margin-top: 0 !important;
    margin-bottom: 40px;
    border-bottom-color: #ddd;

    h1 {
      font-weight: 700;
    }

    .breadcrumb {
      background-color: transparent !important;
      padding: 0 0 0 4px !important;
      margin: 0 !important;
    }
  }

  article {
    h2 {
      margin: 40px 0 30px 0;
      padding-bottom: 6px;
      border-bottom: 1px dotted #ccc;
    }

    h3 {
      margin: 40px 0 30px 0;
    }

    h4 {
      margin: 40px 0 25px 0;
    }

    p, .highlight, ul, ol {
      margin-bottom: 20px;
    }

    pre {
      background-color: #f7f7f7;
      border: 0;
    }

    img[title] {
      @include border-radius(3px);
      border: 1px solid #ddd;
      padding: 5px;
      max-width: 100%;
    }

    .panel {
      p:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

@import 'syntax'
